<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{template1}">
<head>
    <meta charset="UTF-8"/>
    <title>Ma Banque</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-info mb-3">
                    <div class="card-header card text-white bg-info mb-3">
                        <div class="card-title">Consultation d'un compte</div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/consulterCompte}" method="get">
                            <div>
                                <label>Code Compte :</label>
                                <input type="text" name="codeCompte" th:value="${codeCompte}"/>
                                <button type="submit" class="btn btn-info">OK</button>
                            </div>
                        </form>
                        <div class="text-danger" th:if="${exception}" th:text="${exception.getMessage()}"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-info mb-3"th:if="${compte}">
                    <div class="card-header card text-white bg-info mb-3">
                        <div class="card-title">Information sur le compte</div>
                    </div>
                    <div class="card-body">
                        <div>
                            <label>Client:</label>
                            <label th:text="${compte.client.nom}"></label>
                        </div>
                        <div>
                            <label>Code:</label>
                            <label th:text="${compte.codeCompte}"></label>
                        </div>
                        <div>
                            <label>Solde:</label>
                            <label th:text="${compte.solde}"></label>
                        </div>
                        <div>
                            <label>Date de création:</label>
                            <label th:text="${compte.dateCreation}"></label>
                        </div>
                        <div>
                            <label>Type:</label>
                            <label th:text="${compte.class.simpleName}"></label>
                        </div>
                        <div th:if="${compte.class.simpleName == 'CompteCourant'}">
                            <label>Découvert:</label>
                            <label th:text="${compte.decouvert}"></label>
                        </div>
                        <div th:if="${compte.class.simpleName == 'CompteEpargne'}">
                            <label>Découvert:</label>
                            <label th:text="${compte.taux}"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"  sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="card border-info mb-3" th:if="${compte}">
                    <div class="card-header card text-white bg-info mb-3">
                        <div class="card-title">Opérations sur le compte</div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/saveOperation}" method="post">
                            <div>
                                <label>Compte </label>
                                <input type="hidden" name="codeCompte" th:value="${codeCompte}"/>
                                <label th:text="${codeCompte}"></label>
                            </div>
                            <div  class="row align-items-center">
                                <div class="col-md-4">
                                    <input type="radio" name="typeOperation" value="VERS"checked="checked"
                                           onchange="document.getElementById('forVirement').style.display='none'"/>
                                    <label>Versement</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" name="typeOperation" value="RETR"
                                           onchange="document.getElementById('forVirement').style.display='none'"/>
                                    <label>Retrait</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" name="typeOperation" value="VIR"
                                           onchange="document.getElementById('forVirement').style.display='block'"/>
                                    <label>Virement</label>
                                </div>
                                <div id="forVirement" style="display: none">
                                    <label>Vers :</label>
                                    <input type="text" name="codeCompte2"/>
                                </div>
                                <div class="p-1">
                                    <label>Montant :</label>
                                    <input type="text" name="montant"/>
                                </div>
                                <button type="submit" class="btn btn-info">Save</button>
                                <div class="text-danger" th:text="${#httpServletRequest.getParameter('error')}">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-info mb-3" th:if="${compte}">
                    <div class="card-header card text-white bg-info mb-3">
                        <div class="card-title">Liste des opérations</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Num</th><th>Type</th><th>Date</th><th>Montant</th>
                            </tr>
                            <tr th:each="o:${listOperation}">
                                <td th:text="${o.numero}"></td>
                                <td th:text="${o.class.simpleName}"></td>
                                <td th:text="${o.dateOperation}"></td>
                                <td th:text="${o.montant}"></td>
                            </tr>
                        </table>
                        <div class="container">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item" th:each="p,status:${pages}">
                                    <a class="page-link" th:href="@{consulterCompte(codeCompte=${codeCompte},page=${status.index})}"
                                       th:text="${status.index}">

                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>